<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="API Automation Suite">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="API Tests" thread-count="5">

        <classes>

            <class name="com.tests.GetRolesTest"/>
            <class name="com.tests.GetAllCourseStructureTest"/>
            <class name="com.tests.UpdateNote"/>
            <class name="com.tests.TooglePinNote"/>
            <class name="com.tests.GetInstitutionTest"/>
            <class name="com.tests.EndToEndTest"/>
            <class name="com.tests.GetNoteById"/>
            <class name="com.tests.GetAllNotesQP"/>
            <class name="com.tests.LoginTest"/>
            <class name="com.tests.HealthCheckGet"/>
            <class name="com.tests.DeleteNote"/>
            <class name="com.tests.CreateNotesTest"/>

        </classes>

    </test>

</suite>